.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 0.1fr 0.3fr 3.6fr;
    grid-template-rows: 0.2fr 1.8fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "receiptsTable receiptsTable receiptsTable . receiptDetails"
      "receiptsTable receiptsTable receiptsTable . receiptDetails"
      ". . . . .";
  }
  
  .receiptsTable { grid-area: receiptsTable;}
  .receiptDetails { grid-area: receiptDetails;}
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  .receiptDetails{
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  .receiptsTable {
    height: 100%;
    width: 100%;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
  }
  table {
    width: 100%;
  }
  .mat-row {
    height: auto;
  }
  .mat-row:hover{
    background-color:#94dbf7;
  }
  
  .mat-cell {
    padding: 8px 50px 8px 0;
  }
  .mat-header-row{
    background-color: #61f3f8d3;
  }

  .pointer {
    cursor: pointer;
    background-color: #72d1f7;
    
  }
  .currImg {
    height: 30vh;
    /* width: 35vw; */
  }
  .fullSize {
      height: auto;
      width: auto;
  }
  button {
    font-family: 'Roboto', sans-serif;
  }
  input {
        font-family: 'Roboto', sans-serif;
  }